@media screen and (min-width:321px) and (max-width:480px){

    header,footer,article,aside,figure,figcaption {
        display: block;
    }

    body {
        background: #f3f3f3;
    }

    .wrapper {
        min-width: 321px;
        max-width: 480px;
        height: auto;
        margin: 0 auto;
        border: 1px solid yellow;
    }

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }



    /* Header */

    .header {
        width:  100%;
        height: 250px;
        margin: 0 0 20px 0;
        background: url(../img/BgHeader.png) no-repeat 50% 50%;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .header__logo, 
    .header__menu {
        width: 35px;
        height: 45px;
        background: red;
        margin: 23px 26px;
        cursor: pointer;
        z-index: 1;
    }

    .header__logo {
        background: url(../img/headerLogo.png) no-repeat;
        background-size: cover;
    }

    .header__menu {
        background: url(../img/headerMenu.png) no-repeat;
        background-size: cover;
    }

    /* Menu */
    #header .menu {
        width: 160px;
        min-height: 165px;
        border-radius: 2%;
        background: rgba(243,243,243,0.9);
        padding: 5px;
        box-sizing: border-box;
        position: absolute;
        top: 10px;
        left: 22%;
        right: 22%;
        display: none;
        z-index: 5;
    }

    #header .menu li {
        list-style: none;
        text-align: center;
    }

    #header .menu a {
        text-decoration: none;
        font-family: BaronNeue;
        font-size: 14px;
        color: #1a2631;
        line-height: 1.5;
        padding-bottom: 2px;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }

    #header .menu a:hover  {
        cursor: pointer;
        color: rgba(26,38,49,0.5);
        border-bottom: 2px solid rgba(26,38,49,0.5);
        font-weight: bold;
    }

    /* About */

    .about {
        width: 100%;
        height: auto;
        background: -webkit-linear-gradient(left,#f3f3f3,white);
        background: -moz-linear-gradient(left,#f3f3f3,white);
        background: -ms-linear-gradient(left,#f3f3f3,white);
        background: -o-linear-gradient(left,#f3f3f3,white);
        background: linear-gradient(to right,#f3f3f3,white);
        padding: 30px 0;
    }

    .AboutCenter__img {
        width: 100%;
        height: 225px;
        background: url(../img/About_Img.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .AboutCenter__title {
        font-family: BaronNeue;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 20px 0;
        color: #1a2631;
    }

    .AboutCenter__text {
        height: 125px;
        overflow: hidden;
        font-family: sans-serif;
        line-height: 1.5;
        color: #909090;
    }

    .AboutCenter__more {
        margin: 20px 0 0 0;
        font-family: BaronNeue;
    }

    #about .AboutCenter__more a {
        text-decoration: none;
        border: none;
        font-family: BaronNeue;
        color: #1a2631;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }

    #about .AboutCenter__more a:hover {
        font-weight: bold;
        color: rgba(26,38,49,0.5);
        border: none;
    }

    /* Works */

    .works {
        width: 100%;
        height: auto;
        margin: 20px 0;
        background: -webkit-linear-gradient(left,#f3f3f3,white);
        background: -moz-linear-gradient(left,#f3f3f3,white);
        background: -ms-linear-gradient(left,#f3f3f3,white);
        background: -o-linear-gradient(left,#f3f3f3,white);
        background: linear-gradient(to right,#f3f3f3,white);
        padding: 20px 0;
    }

    .WorksCenter__title {
        font-family: BaronNeue;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 20px 0 30px 0;
        color: #1a2631;
    }

    .WorksCenter__menu {
        width: 65%;
        margin: 0 auto;
        font-family: BaronNeue;
        display: flex;
        justify-content: space-between;
    }

    .WorksCenter__menu li {
        height: 25px;
        list-style-type: none;
        color: #1a2631;
        padding: 0 0 5px 0;
        box-sizing: border-box;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -o-transition:0.5s;
        transition:0.3s;
    }

    .WorksCenter__menu li:hover  {
        cursor: pointer;
        color: rgba(26,38,49,0.5);
        border-bottom: 2px solid rgba(26,38,49,0.5);
    }

    .WorksCenter__pictures {
        display: flex;
        justify-content: space-around;
        margin: 10px 0 0 0;
    }

    .pictures__left,.pictures__right {
        width: 45%;
        margin: 5px;
    }

    .pictures__left img {
        width: 90%;
        margin: 5px;
    }

    .pictures__right img {
        width: 90%;
        margin: 5px;
    }


    /* Web Development*/

    .webDev {
        width: 100%;
        height: auto;
        background: white;
        padding: 0 0 10px 0;
        margin-top: 20px;
    }

    .webDev img {
        width: 100%;
    }

    .webDev__images {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }

    .webDev__images figcaption {
        font-family: BaronNeue;
        font-size: 12px;
        color: #1a2631;
        margin: 10px 0 0 0;
    }

    /* Ліва сторона */

    .images__left {
        width: 35%;
        height: 250px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .design__img {
        width: 50px;
        height: 50px;
        background: url(../img/webDev_img1.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .com__img {
        width: 50px;
        height: 50px;
        background: url(../img/webDev_img3.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .coords__img {
        width: 50px;
        height: 50px;
        background: url(../img/webDev_img5.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    /* Права сторона */

    .images__right {
        width: 30%;
        height: 250px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .work__img {
        width: 50px;
        height: 50px;
        background: url(../img/webDev_img2.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .safety__img {
        width: 50px;
        height: 50px;
        background: url(../img/webDev_img4.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .dev__img {
        width: 50px;
        height: 50px;
        background: url(../img/webDev_img6.jpg) no-repeat 50% 50%;
        background-size: cover;
    }


    /* Skills */

    .skills {
        width: 100%;
        height: auto;
        margin: 20px 0 10px 0;
        background: -webkit-linear-gradient(left,#f3f3f3,white);
        background: -moz-linear-gradient(left,#f3f3f3,white);
        background: -ms-linear-gradient(left,#f3f3f3,white);
        background: -o-linear-gradient(left,#f3f3f3,white);
        background: linear-gradient(to right,#f3f3f3,white);
        padding: 30px 0 40px 0;   
    }

    .skills__title {
        text-align: center;
        color: #1a2631;
        font-size: 20px;
        font-family: BaronNeue;
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0 30px 0;
    }

    .skills__progress{
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .skills__progress p {
        font-family: BaronNeue;
        font-size: 14px;
        color: #1a2631;
        margin: 20px 0 15px 0;
    }

    .skills__progress span {
        margin: 0 10px;
        line-height: 20px;
    }

    .skills__progress div {
        width: 100%;
        height: 25px;
        background: #f3f3f3;
    }

    .progress__design p {
        width: 0%;
        height: 25px;
        background: #000000;
        color: #ffffff;
        line-height: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .progress__css p {
        width: 0%;
        height: 25px;
        background: #000000;
        color: #ffffff;
        line-height: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .progress__js p {
        width: 0%;
        height: 25px;
        background: #000000;
        color: #ffffff;
        line-height: 30px;
        display: flex;
        justify-content: flex-end;
    }


    /* Telephone */

    .telephone {
        width: 100%;
        height: auto;
        padding: 50px 0 0 0;
        display: flex;
        flex-direction: column;
    }

    /* Перший блок,який має у собі ще 2 блоки*/
    .telephone__block1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    /*Верхній блок*/
    .block1__top {
        width: 100%;
        height: auto;
        padding: 0 0 10px 0;
        display: flex;
        justify-content: space-between;
    }

    .top__left {
        width: 30%;
        height: auto;
        padding: 5px 0 0 0;
    }

    .top__right {
        width: 70%;
        height: auto;
    }

    .top__right h2 {
        font-family: BaronNeue;
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 10px 0;
        color: #1a2631;
    }

    .top__right p {
        overflow: hidden;
        font-family: sans-serif;
        line-height: 1.5;
        color: #909090;
    }

    /*Нижній блок*/
    .block1__bottom {
        width: 100%;
        height: 200;
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    .bottom__left {
        width: 30%;
        height: auto;
        padding: 5px 0 0 0;
    }

    .bottom__right {
        width: 70%;
        height: auto;
    }

    .bottom__right h2 {
        font-family: BaronNeue;
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 10px 0;
        color: #1a2631;
    }

    .bottom__right p {
        overflow: hidden;
        font-family: sans-serif;
        line-height: 1.5;
        color: #909090;
    }

    /* Другий блок,який має у картинку Телефон*/
    .telephone__block2 {
        width: 100%;
        height: auto;
        margin: 20px 0;
        display: flex;
        justify-content: center;
    }

    /* Третій блок,який має у собі ще 2 блоки*/
    .telephone__block3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    /*Верхній блок*/
    .block3__bl3Top {
        width: 100%;
        height: auto;
        padding: 0 0 10px 0;
        display: flex;
        justify-content: space-between;
    }

    .bl3Top__left {
        width: 30%;
        height: auto;
        padding: 5px 0 0 0;
    }

    .bl3Top__right {
        width: 70%;
        height: auto;
    }

    .bl3Top__right h2 {
        font-family: BaronNeue;
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 10px 0;
        color: #1a2631;
    }

    .bl3Top__right p {
        overflow: hidden;
        font-family: sans-serif;
        line-height: 1.5;
        color: #909090;
    }

    /*Нижній блок*/
    .block3__bl3Bottom {
        width: 100%;
        height: auto;
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    .bl3Bottom__left {
        width: 30%;
        height: auto;
        padding: 5px 0 0 0;
    }

    .bl3Bottom__right {
        width: 70%;
        height: auto;
    }

    .bl3Bottom__right h2 {
        font-family: BaronNeue;
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 10px 0;
        color: #1a2631;
    }

    .bl3Bottom__right p {
        overflow: hidden;
        font-family: sans-serif;
        line-height: 1.5;
        color: #909090;
    }


    /* News */

    .news {
        width: 100%;
        height: auto;
        background: -webkit-linear-gradient(left,#f3f3f3,white);
        background: -moz-linear-gradient(left,#f3f3f3,white);
        background: -ms-linear-gradient(left,#f3f3f3,white);
        background: -o-linear-gradient(left,#f3f3f3,white);
        background: linear-gradient(to right,#f3f3f3,white);
        margin: 50px 0 0 0;
        display: flex;
        flex-direction: column;
    }

    .news h1 {
        font-family: BaronNeue;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 35px 0 30px 0;
        color: #1a2631;
    }

    /* Перший блок з картинкою */

    .wrap__one {
        width: 100%;
        height: auto;
        margin: 0 0 30px 0;
        padding: 0 0 10px 0;
    }

    .figOne__author {
        width: 100px;
        margin: 10px 15px 10px 0;
        float: left;
    }

    .wrap__pencil {
        margin: 0 5px 0 0;
    }

    .wrap__text {
        font-family: sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #909090;
    }

    .wrap__title {
        clear: both;
        font-family: BaronNeue;
        font-size: 14px;
        color: #1a2631;
        margin: 0 0 5px 0;
    }

    .wrap__description {
        font-family: sans-serif;
        line-height: 1.5;
        color: #909090;
    }

    .wrap__btn {
        margin: 20px 0 0 0;
    }

    #news .wrap__btn a{
        text-decoration: none;
        font-family: BaronNeue;
        font-size: 13px;
        color: #909090;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }

    #news .wrap__btn a:hover {
        color: #1a2631;
        font-weight: bold;
        border: none;
    }

    .figOne__date {
        width: 100px;
        margin: 10px 0;
        float: left;
    }

    /* Другий блок з картинкою */
    .wrap__two {
        width: 100%;
        height: auto;
        margin: 0 0 30px 0;
        padding: 0 0 10px 0;
    }

    .figTwo__author {
        width: 100px;
        margin: 10px 15px 10px 0;
        float: left;
    }

    .figTwo__date {
        width: 100px;
        margin: 10px 0;
        float: left;
    }

    /* Третій блок з картинкою */
    .wrap__three {
        width: 100%;
        height: auto;
        margin: 0 0 30px 0;
        padding: 0 0 10px 0;
    }

    .figThree__author {
        width: 100px;
        margin: 10px 15px 10px 0;
        float: left;
    }

    .figThree__date {
        width: 100px;
        margin: 10px 0;
        float: left;
    }


    /* Slider */
    .slider {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
    
    .slider__img {
        width: 100%;
        height: 350px;
        background: url(../img/slider__bigImg.png) no-repeat 50% 50%;
        background-size: cover;
    }
    
    /* slider__content */
    .slider__content {
        background: -webkit-linear-gradient(left,#f3f3f3,white);
        background: -moz-linear-gradient(left,#f3f3f3,white);
        background: -ms-linear-gradient(left,#f3f3f3,white);
        background: -o-linear-gradient(left,#f3f3f3,white);
        background: linear-gradient(to right,#f3f3f3,white);
        padding-bottom: 50px
    }
    .east__north {
        /*margin: 80px 0 0;*/
        background: url(../img/slider__bg.png) no-repeat 50% 50%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .east__morth__box {
        width: 100%;
        margin: 20px auto 0 auto;
        text-align: center;
    }
    .east__morth__box p {
        color: #1a2531;
        font-family: "Arial";
        font-size: 21px;
        font-weight: bold;
        margin: 30px 0;
    }
    .east__north__navigation {
        width: 100px;
        margin: 0 auto;
    }
    .east__north__navigation span {
        width: 12px;
        height: 12px;
        float: left;
        margin-right: 16px;
        background: #ddd;
    }
    .east__north__navigation span:last-child {
        margin-right: 0px;
    }
    .east__morth__slider {
        width: 100%;
        white-space: nowrap;
        transition: margin-left 0.75s ease;
    }
    .slider__panel {
        display: inline-block;
        width: 100%;
    }
    .slider__item {
        width: 100%;
    }
    .east__north__navigation .tab-active {
        background: #000;
    }

    .east__north__navigation span:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    .east__north__text {
        width: 80%;
        height: 300px;
        margin: 0 auto;
        background: url(/img/beta.png) no-repeat 50% 50%;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .east__north__text p {
        font-size: 22px;
        font-family: 'BaronNeue';
        color: #FFF;
        display: block;
        line-height: 1.5;
    }
    .widht320 {
        display: block;
    }
    .widht1200 {
        display: none;
    }


    /* Contact US */

    .contact {
        width: 100%;
        height: auto;
        background: -webkit-linear-gradient(left,#f3f3f3,white);
        background: -moz-linear-gradient(left,#f3f3f3,white);
        background: -ms-linear-gradient(left,#f3f3f3,white);
        background: -o-linear-gradient(left,#f3f3f3,white);
        background: linear-gradient(to right,#f3f3f3,white);
        padding: 30px 0 10px 0;
        margin: 20px 0 30px 0;
    }

    .contact__title {
        margin: 0 0 30px 0; 
        font-family: BaronNeue;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #1a2631;
    }

    .contact__form {
        width: 95%;
        height: auto;
        margin: auto;
    }

    input[name="name"],
    input[name="sname"] {
        width: 130px;
        padding: 12px;
        font-family: BaronNeue;
        font-size: 14px;
        color: #909090;
        background: #efefef;
        border: none;
    }

    input[name="name"] {
        margin: 0 8px 0 0;
    }

    input[name="email"] {
        width: 100%;
        margin: 20px 0;
        padding: 12px;
        font-family: BaronNeue;
        font-size: 14px;
        color: #909090;
        background: #efefef;
        border: none;
        box-sizing: border-box;
    }

    textarea[name="mesage"] {
        width: 100%;
        height: 100px;
        padding: 12px;
        font-family: BaronNeue;
        font-size: 14px;
        color: #909090;
        background: #efefef;
        border: none;
        box-sizing: border-box;
    }

    input[type="button"] {
        width: 50px;
        height: 50px;
        font-family: BaronNeue;
        font-size: 14px;
        text-align: center;
        color: #909090; 
        background: #efefef;
        border: none;
        margin: 20px 0 20px 0;-webkit-transition: background 1s ease;
        -moz-transition: background 0.8s ease;
        -ms-transition: background 0.8s ease;
        -o-transition: background 0.8s ease;
        transition: background 0.8s ease;
    }

    input[type="button"]:hover {
        background: #1a2631;
        font-weight: bold;
        cursor: pointer;  
    }

    input[type="button"]:hover {
        background: #1a2631;
        font-weight: bold;
        cursor: pointer;  
    }
    

    /* Footer */

    .footer {
        width: 100%;
        height: auto;
        background: -webkit-linear-gradient(left,#f3f3f3,white);
        background: -moz-linear-gradient(left,#f3f3f3,white);
        background: -ms-linear-gradient(left,#f3f3f3,white);
        background: -o-linear-gradient(left,#f3f3f3,white);
        background: linear-gradient(to right,#f3f3f3,white);
        padding: 20px 0 40px 0;
        position: relative;
    }

    .footer__icons a {
        text-decoration: none;
        color: #2f2f2f;
        cursor: pointer;
    }

    .footer__icons span{
        margin: 0 10px 0 0;
    }

    .footer__icons span a:hover {
        color: blue;
    }

    .footer__copiright {
        margin: 10px 0 0 0;
        font-family: sans-serif;
        font-size: 14px;
        color: #909090;
    }

    .footer__up {
        position: fixed;
        top: 92vh;
        right: 10px;
        opacity: 0.4;
        -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
        -o-transition: opacity 1s ease;
        transition: opacity 1s ease;
    }

    .footer__up:hover {
        opacity: 1;
    }
}